
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h1>All Restaurants</h1>
      <ul>
        <% @restaurants.each do |restaurant| %>
          <li><%=link_to(restaurant.name, restaurant_path(restaurant), class: "title")%> (<%= restaurant.category%>)</li>
          <p class="content"><%= restaurant.address%></p>
        <% end %>
      </ul>
    <%= link_to "Add Restaurant", new_restaurant_path %>
    </div>
  </div>
</div>

