
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h2>Add a new Restaurant</h2>
        <%= render "form", restaurant: @restaurant %>

        <%= link_to "Back", restaurants_path %>
    </div>
  </div>
</div>

