// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

@import "restaurants";

.title{
  color: #337ab7;
  text-decoration: none;
  font-family: "Roboto Slab";
  font-weight: 400;
  font-size: 24px;
}
